<ul class="breadcrumbs container flex">
    <li class="breadcrumb" *ngIf="(breadcrumb.productName || breadcrumb.category) && (isAtDetailsPage || isAtProductsPage)">
        <a href="/" class="breadcrumb-link fs16 flex align-center justify-center">בית</a>
    </li>
    <li class="breadcrumb" *ngIf="(isAtDetailsPage || isAtProductsPage)">
        <a href="" [routerLink]="['/products',breadcrumb.category]" 
        class="breadcrumb-link fs16 flex align-center justify-center">{{ breadcrumb.category }}</a>
    </li>
    <li class="breadcrumb" *ngIf="breadcrumb.productName && (isAtDetailsPage || isAtProductsPage)">
        <a href="" [routerLink]="['/product',breadcrumb.productId]" 
        class="breadcrumb-link fs16 flex align-center justify-center">{{ breadcrumb.productName }}</a>
    </li>
</ul>
