
.search-icon-input-filter-container{
   
    border-radius: 999px;
    border: 3px solid $clr2;
    bottom: 10px;
    width: 100%;



    .filter-product-input{
        padding: rem(10px) rem(15px);
        width: rem(250px);
        cursor: pointer;
        border: none;
        border-radius: 999px;
        

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $clr3;
            opacity: 1; /* Firefox */
          }
          
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $clr3;
          }
          
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $clr3;
          }

        &:focus{
            outline: none;
        }

        @include for-middel-layout{
          width: 100%;
        }
    
    }

    .search-icon{
        width: 25px;
        height: 25px;
        margin-inline-end: 10px;

       
    }


    @include for-middel-layout{
      position: absolute;
      right: 30px;
      left: 30px;
      width: auto;
      
    }

    
}
