.contact-page {

    height: 500px;

    .title {
        margin-bottom: rem(10px);
    }

    .contact-form-map-container {
        display: grid;
        grid-template: 15% auto/1fr 1fr;
        column-gap: rem(50px);
        height: 100%;

        .contact-details {
            font-weight: bold;
            grid-area: 1/1/1/1;
        }

        .contact-form {
            grid-area: 2/1/2/1;
            display: grid;
            grid-template: auto auto auto 3.5fr 1fr / auto;
            row-gap: rem(20px);

            .name {
                grid-area: 1/1/1/1;
            }
            .mail {
                grid-area: 2/1/2/1;
            }
            .phone {
                grid-area: 3/1/3/1;
            }
            .desc {
                grid-area: 4/1/4/1;
            }
            .submission-btn {
                grid-area: 5/1/5/1;
                height: 40px;
                &:hover{
                    box-shadow: 0 1px 8px 2px $clr8;
                }

                .loading-img{
                    width: rem(25px);
                    animation: loadingAnimation 2s infinite;
                    
                }
            }

            input,
            textarea {
                padding: 0 rem(20px);
                line-height: 2.5em;
                border: 1px solid $clr2;
                border-radius: 5px;
            }
        }

        .google-map {
            grid-area: 1/2/3/2;
            height: 100%;
            width: 100%;
        }


        
    }

    .sentMailMsg{
        row-gap: rem(30px);
        img{
            margin-top:rem(10px);
            width: 100px;
        }

        p{
            color: $clr3;
            font-weight: bold;
            max-width: 20ch;
            line-height: 1.5em;
        }
    }

    @include for-tablet-layout {

        height: unset;
        .contact-form-map-container {

            grid-template: auto 300px 1fr / 1fr;
            row-gap: rem(20px);

            .contact-form {grid-area: 3/1/3/1;}

            .google-map {grid-area: 2/1/2/1;}
        }

    }

    @include for-narrow-tablet {

        height: unset;

        .contact-form-map-container{

            grid-template: auto 300px 1fr / 1fr;
            row-gap: rem(20px);

            .contact-form {grid-area: 3/1/3/1;}

            .google-map {grid-area: 2/1/2/1;}
        }
        
        
    }
    @include for-mobile-layout {

        height: unset;

        .contact-form-map-container{
            
            grid-template: auto 300px 1fr / 1fr;
            row-gap: rem(20px);

            .contact-form {grid-area: 3/1/3/1;}

            .google-map {grid-area: 2/1/2/1;}
        }
       
    }
}


@keyframes loadingAnimation {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}