.app{
    position: relative;
    min-height:100vh;

    .main{

        @include for-middel-layout{
            margin-top: rem(20px);
        }
        
        
    }

    .space{
        height: 200px;
        }
}