.product-img-container-modal{

    position:absolute;
    right: 50vw;
    top: 50vh;
    transform: translate(50% ,-50%);
    z-index: 4;
    
    .close-modal-btn{
        
        position: absolute;
        background-color: $clr4;
        border-radius: 999px;
        border: 3px solid $clr2;
        width: 30px;
        height: 30px;     
        padding: rem(10px);
        font-weight: bold;
        right: -10px;
        top: -10px;
        
    }
    
    .product-img-url{

        border: 3px solid $clr2;

        &.product-img{
            width: 20vw;
            
        }

        @include for-middel-layout{&.product-img{width: 40vw;}}
        @include for-tablet-layout{&.product-img{width: 50vw;}}
        @include for-mobile-layout{&.product-img{width: 70vw;}}

        &.product-img-label{
            width: 90vw;
            
        }
       
    }
}

.payment-modal{

    position:absolute;
    right: 50vw;
    top: 50vh;
    transform: translate(50% ,-50%);
    z-index: 4;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
    background-color: $clr4;
    height: 550px;
    


    .close-modal-btn{
        
        position: absolute;
        background-color: $clr4;
        width: 30px;
        height: 30px;     
        padding: rem(10px);
        font-weight: bold;
        
    }

    iframe{
        padding: rem(30px);
        height: 100%;
    }

    
    @include for-mobile-layout{
        width: 100vw;

        iframe{
            width: 100%;
        }
    }

}