<div class="about container">
    <h1>
        אודות" טבע בקריה"
    </h1>

    <p>
        טבע בקריה הינה חנות המציעה מוצרי בריאות, תזונה וספורט.
    </p>

    <p>
        החברה נוסדה בשנת 2021 במטרה לספק ללקוחותיה גם את המוצרים האיכותיים ביותר וגם את השירות המקסימלי שמגיע לכם
        כלקוחות המשלמים ממיטב כספם למען בריאותם.
    </p>

    <p>
        "טבע בקריה" עובדת בשיתוף פעולה עם מיטב החברות בארץ ובעולם!
    </p>

    <p>
        הצצה קטנה לחברות שתמצאו אצלנו:
        "סולגאר", "סופהרב", "עומר בגליל", "בחזרה לטבע", "OS+", "ישראלבודי", "נייצ'רספרו" ועוד רבים וטובים.

    </p>
    <p>
        אנו מאמינים שכמו שבבית מרקחת צריך שיהיה רוקח מוסמך, כך גם בבית טבע צריך מישהו מוסמך, היודע להתאים באופן אישי ולגופו של בנאדם, לכן אנו מספקים ללקוחותינו ייעוץ נטורופתי מקצועי.
    </p>
    <p>
        מוצרי "טבע בקריה" הינם איכותיים ביותר ומגיעים עם אחריות היצרן!
    </p>
    <p>
        השירות הטלפוני של "טבע בקריה" ישמח להעניק לכם מענה מקצועי לכל שאלה
    </p>
    <p>
        במספר פלא – 053-284-2348. בימים א-ה. בין השעות 10:00-16:00.
    </p>
</div>