

@font-face {
    font-family: alef;
    src: url('../../fonts/Alef/Alef-regular.ttf');
    font-display: block;
}    

@font-face {
    font-family: Rubik;
    src: url('../../fonts/Rubik/Rubik-Regular.ttf');
    font-display: block;
} 

@font-face {
    font-family: Varela_Round;
    src: url('../../fonts/Varela_Round/VarelaRound-Regular.ttf');
    font-display: block;
}    

// @font-face {
//     font-family: AssistantRegular;
//     src: url(assets/font/Assistant/Assistant-Regular.ttf) format("opentype");
//     font-display: block;
// }    
// @font-face {
//     font-family: AssistantSemiBold;
//     src: url(assets/font/Assistant/Assistant-SemiBold.ttf) format("opentype");
//     font-display: block;
// }    

// @font-face {
//     font-family: Opensans;
//     src: url(assets/font/OpenSans/OpenSansHebrewCondensed-Light.ttf) format("opentype");
//     font-display: block;
// }    

