$clr1:#d7e026; 
$clr2:#8dc63f;
$clr3:#8f2626;
$clr4:#ffffff;
$clr5:#f2f2f2;
$clr6:#afaaaa;
$clr7:#908888;
$clr8:#d7cfcf;
$clr9:red;

// Breakpoints
$mobile-breakpoint: 510px;
$narrow-tablet-breakpoint: 580px;
$tablet-breakpoint: 800px;
$middel-breakpoint: 1000px;
$desktop-breakpoint: 1200px;
