<div class="footer flex justify-center">

    <div class="footer-container flex column">

        <div class="logo-container flex flex column align-center justify-center">
            <a [routerLink]="['/']">
                <img class="logo" src="../../../assets/img/teva_bakiria_logo.svg" alt="">
            </a>
            
        </div>
    
        <div class="contact flex column align-center justify-center">
            <div class="flex phone">
                <p class="title">טלפון:</p>
                <p>053-2842348</p>
            </div>
            <div class="flex mail">
                <p class="title">אימייל:</p>
                <p>tevabakirya@gmail.com</p>
            </div>
        </div>
    
        <div class="working-hours-adress flex column align-center justify-center">
            <div class="flex working-hours">
                <p class="title">שעות פעילות:</p>
                <div class="flex column">
                    <p>ימים א'-ה 10:00-17:00</p>
                    <p>ימי שישי 08:00-11:00</p>
                </div>
            </div>
            <div class="adress flex">
                <p class="title">כתובתנו:</p>
                <p>הרצי"ה קוק 31 קרית ארבע/ חרסינה</p>
            </div>
        </div>
    
        <div class="social flex column align-center justify-center">
            <a href="https://www.facebook.com/%D7%98%D7%91%D7%A2-%D7%91%D7%A7%D7%A8%D7%99%D7%94-%D7%9E%D7%95%D7%A6%D7%A8%D7%99-%D7%91%D7%A8%D7%99%D7%90%D7%95%D7%AA-106051728485289/" target="_blank" rel="noreferrer noopener">
                <img class="facebook-icon" src="../../../assets/img/facebook.png" alt="">
            </a>
        </div>

    </div>

</div>

